@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&family=Nanum+Gothic:wght@400;700;800&family=Ubuntu:ital,wght@0,300;1,300&display=swap');


.content {
     padding: 0 20px;
}

.theme-options {
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
  padding: 20px 0;
}

.theme-options div {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin: 2px 10px;
  border: 1px solid #fff;
  display: inline-block;
  opacity: 0.5;
}

.theme-options div.active {
  opacity: 1;
}

#theme-red {
  background: rgb(187, 53, 43);
}

#theme-blue {
  background: #1b1979;
}

#theme-purple {
  background: #a574b4;
}

.content-box {
  margin: 0 auto;
  background: #eee;
  color: #222;
  border-radius: 8px;
  padding: 30px 30px 40px 30px;
  max-width: 800px;
  text-align: center;
}

.content-box h1 {
  line-height: 1.5;
  margin: 0;
  font-size: 24px;
}

.content.theme-red {
  background: rgb(255, 110, 100);
  color: #000;
  font-family: 'Ubuntu', sans-serif;
}

.content.theme-red .content-box {
  background: rgb(189, 76, 68);
  color: #fff;
}

.content.theme-blue {
  background: #7296d8;
  color: #fff;
  font-family: 'Nanum Gothic', sans-serif;
}

.content.theme-blue .content-box {
  background: #94c3e9;
  color: #011b4d;
}


.content.theme-purple {
  background: #a574b4;
  color: #debae9;
  font-family: 'Dosis', sans-serif;
}

.content.theme-purple .content-box {
  background: rgb(193, 148, 230);
  color: #37094d;
}
