<div class="content  {{storedTheme}}" role="main">

  <div class="theme-options">
    <div id="theme-red" >
    </div>

    <div id="theme-blue" >
    </div>

    <div id="theme-purple"
      (click)="setTheme('theme-purple')"></div>
  </div>

  <div class="content-box" >
    <div class="signUp" *ngIf="!isSignedIn">
      <h2>Sign Up</h2>

      <input type="text" #emailSignUp>
      <input type="password" #passwordSignUp>
      <button (click)="onSignUp(emailSignUp.value,passwordSignUp.value )">Sign Up</button>
    </div>


    <hr>
    <div class="signIn" *ngIf="!isSignedIn">
      <h2>Sign In</h2>
      <input type="text" #email>
      <input type="password" #password>
      <button (click)="onSignIn(email.value, password.value)">Sign In</button>
    </div>
  </div>

</div>

<app-home *ngIf="isSignedIn" {isLogOut}="handleLogOut()"></app-home>>
